<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자유 게시판</title>
    <link rel="stylesheet" th:href="@{/boardList.css}" />
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-brand"><a href="/main" class="title">감정 쓰레기통</a></div>
    <div class="navbar-menu">
        <a href="/board/view">커뮤니티</a>
        <a href="#">마이페이지</a>
        <a href="/members/logout">로그아웃</a>
    </div>
</div>

<div class="container">
    <h2>자유 게시판</h2>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{'/board/details/' + ${board.id}}" th:text="${board.title}"></a></td>
            <td th:text="${board.memberId}"></td>
            <td th:text="${board.date}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <ul>
            <li th:each="pageNumber : ${#numbers.sequence(1, list.totalPages)}">
                <a th:href="@{/view?page=${pageNumber}&size=10}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </div>

    <div class="error-message" th:if="${errorMessage != null}">
        <p th:text="${errorMessage}"></p>
    </div>


</div>

</body>
</html>
